.menuItem {
  flex: 1;
  padding: 1.2rem;
  border: 1px solid #eee;
  border-radius: 0.8rem;
  cursor: pointer;
}

.menuItem.selected {
  border: 1px solid rgb(60,179,113);
  background: rgba(60,179,113, 0.1);
}

.menuItem header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menuItem header h2,
.menuItem header span,
.menuItem p {
  color: #fff;
}

.menuItem header h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.menuItem header span {
  font-size: 1.4rem;
  font-weight: 500;
}

.menuItem p {
  margin-top: 1rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 550px) {
  .menuItem header {
    flex-direction: column;
    align-items: flex-start;
  }
}