#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem 4rem;
  background: rgb(58, 58, 58);
}



#app>header h1 {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 5rem;
}

#app>header p {
  margin: 0 auto;
  max-width: 40rem;
  margin-top: 1.6rem;
  margin-bottom: 6rem;
  color: #fff;
  text-align: center;
}

#app main {
  width: 65rem;
  max-width: 100%;
}

#app main b {
  color: #fff;
}

#app main #sale h1 {
  font-size: 2.6rem;
  color: #fff;
  margin-bottom: 1.4rem;
}

#app main #sale>div {
  padding: 1.2rem;
  border: 1px solid #eee;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

#app main #sale>div p {
  font-size: 1.6rem;
  padding: 0.4rem 0;
}

#app main #sale>div span {
  font-size: 1.1rem;
  color: #fff;
}

#app main #menu section {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 2rem;
}

#app main #menu section h1 {
  font-size: 2.6rem;
  color: #fff;
}

#app main #menu section .item-container {
  display: flex;
  gap: 0.8rem;
}

#app main button:hover {
  filter: brightness(0.9);
}

#app main #order {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 1rem 2rem;
  background: rgb(245, 184, 17);
  font-weight: 500;
  color: #000;
  cursor: pointer;
  border-radius: 0.8rem;
  width: 100%;
}

#app main #order:disabled {
  cursor: not-allowed;
}

#app input {
  border-color: #fff;
  border: 1px;
  color: #000;

}

.logo {
  width: 50%;
}

.css-2613qy-menu {
  color: #000;
}

@media screen and (max-width: 550px) {
  #app main>h1 {
    font-size: 4rem;
  }

  .logo {
    width: 100%;
  }
}